<ts-card tsVerticalSpacing>
  <h3 tsVerticalSpacing>CSV Entry</h3>

  <div style="max-width: 80%;">
    <ts-csv-entry
      [columnValidators]="validators"
      [columnHeaders]="['foo', 'bar']"
      (blobGenerated)="file($event)"
    ></ts-csv-entry>
  </div>

</ts-card>


<ts-card tsVerticalSpacing>
  <h3 tsVerticalSpacing>CSV Full Width Entry</h3>

  <div fxLayout="row">
    <ts-csv-entry
      [columnValidators]="validators"
      [columnHeaders]="['Full Width']"
      (blobGenerated)="file($event)"
      fullWidth="true"
      columnCount=1
    ></ts-csv-entry>
  </div>

</ts-card>