@import '../../scss/reset/reset';
@import '../../scss/color/color';
@import '../../scss/spacing/spacing';
@import '../../scss/typography/typography';


//
// @component
//  Checkbox
// @description
//  A simple checkbox component
//
.ts-checkbox {
  $ts-select-item-height: 3em !default;
  @include reset;
  @include typography;
  display: block;

  // Overwrite typography when used for an optgroup
  .ts-optgroup .ts-optgroup-label & {
    @include typography(body, 2);
    color: color(utility);
    line-height: $ts-select-item-height;
  }

  // Top level styles should be nested here
  .c-checkbox {
    display: block;
  }


  // Target checkboxes inside a select menu dropdown panel
  .ts-select-panel & {
    // Match the material button line-height and spacing
    .c-checkbox {
      line-height: 3em;
      padding: 0 spacing(default);
    }

    // Support text truncation
    .mat-checkbox-layout {
      max-width: 100%;
    }

    // Support text truncation
    .mat-checkbox-label {
      @include truncate-overflow;
      display: block;
      // 100% - checkbox - checkboxMargin
      max-width: calc(100% - 28px);
    }

    // Support text truncation
    .ts-option-text {
      @include truncate-overflow;
      display: block;
    }
  }

  // Target checkboxes inside a material menu dropdown panel
  .ts-menu__panel & {
    // Match the material button line-height and spacing
    .c-checkbox {
      line-height: 2em;
      padding: 0 spacing(default);
    }

    &.cdk-drag {
      .c-checkbox {
        padding: 0 spacing(large, 1) 2px spacing(default);
      }
    }

    // By default the label doesn't fill the width even though the cursor signifies interaction
    .mat-checkbox-layout {
      width: 100%;
    }

    .mat-checkbox-label {
      flex: 1;
    }
  }

  // Target checkboxes inside a TsOptionComponent
  .ts-select-panel__toggle-all &,
  .ts-option & {
    .mat-checkbox-layout {
      width: 100%;

      .mat-checkbox-inner-container {
        margin: auto 10px auto 0;
      }
    }
  }
}
