@import '../../scss/color/color';
@import '../../scss/reset/reset';
@import '../../scss/z-index/z-index';


$overlay-color: color(pure);
$overlay-color-opaque: transparentize($overlay-color, .2);
$offset: 187;
$duration: 1.4s;

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }

  50% {
    stroke-dashoffset: $offset / 4;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}


//
// @component
//  Loading Overlay
// @description
//  A loading overlay with spinner.
.ts-loading-overlay {
  @include reset;

  .c-loading-overlay {
    align-content: center;
    align-items: center;
    background-color: $overlay-color-opaque;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: opacity;
    z-index: z(attached-panel-overlay);
  }
}

.c-loading-overlay {
  &--hidden {
    opacity: 0;
    transition: opacity 200ms ease;
  }

  &__spinner {
    animation: rotator $duration linear infinite;
  }

  .path {
    animation: dash $duration ease-in-out infinite;
    stroke: color(primary);
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
  }
}
