@import 'true';
@import './input-placeholder';

@include describe ('input-placeholder') {
  @include test('should set input-placeholder') {
    @include assert {
      @include output {
        .test {
          @include input-placeholder{
            content: 'hello';
          }
        }
      }
      @include expect {
        .test::placeholder {
          content: 'hello';
        }

        .test::-moz-placeholder {
          content: 'hello';
        }
      
        .test::-webkit-input-placeholder {
          content: 'hello';
        }
      
        .test:-ms-input-placeholder {
          content: 'hello';
        }
      }
    }
  }
}

