@import '../../scss/color/color';
@import '../../scss/reset/reset';
@import '../../scss/triangle/triangle';
@import '../../scss/typography/typography';

//
// @component
//  Input Message
// @description
//  A component to display validation messages for form inputs.
//
.ts-validation-messages {
  @include reset;
  $message-padding: .3em .4em .2em;

  // Top level styles should be nested here
  .c-validation-message {
    @include typography('caption');
    color: color(warn);
    z-index: z(tooltip);
  }

  // Styles when inside a radio group component
  .c-radio & {
    display: inline-block;
  }

  // Styles when inside a file upload component
  .ts-file-upload & {
    .c-validation-message {
      padding: $message-padding;
    }
  }

  // Adjust the vertical layout when inside a radio button component
  .c-select & {
    .c-validation-message {
      $added-margin-for-select: .6em;
      margin-top: $added-margin-for-select;
      padding: $message-padding 0;
      position: absolute;
      top: 90%;
    }
  }
}
