  <div tsVerticalSpacing>
    <ts-radio-group
      label="Position:"
      [options]="positions"
      [formControl]="positionControl"
      [formatUILabelFn]="uiFormatter"
      [formatModelValueFn]="modelFormatter"
    >
    </ts-radio-group>
  </div>

  <ts-drawer-container
    class="drawer-container"
    [hasBackdrop]="false"
    #drawerContainer
  >
    <ts-drawer
      [mode]="modeControl.value"
      [position]="positionControl.value"
      [hideShadowWhenCollapsed]="false"
      [isExpanded]="false"
      collapsedSize="2rem"
      expandedSize="12rem"
      class="first-drawer"
      #drawer
    >
      <ts-drawer-header>
        <h4>HEADER</h4>
      </ts-drawer-header>
      <div tsVerticalSpacing class="drawer-content">
        <p tsVerticalSpacing>
          <ts-button
            (click)="drawer.toggle()"
          >First Drawer</ts-button>
        </p>
        <p>
          <ts-radio-group
            label="Mode:"
            [options]="items"
            [formControl]="modeControl"
            [formatUILabelFn]="uiFormatter"
            [formatModelValueFn]="modelFormatter"
            class="radio"
          >
          </ts-radio-group>
        </p>
      </div>
      <div>
        <ts-expansion-panel>
          <ts-expansion-panel-trigger>
            Collapse and Expand!
          </ts-expansion-panel-trigger>

          <p>
            And here is my standard panel content.
          </p>

          <p>
            Consequatur fugiat eius placeat tenetur consectetur labore. Laborum architecto animi. Inventore quod unde ea quae doloribus maxime.
          </p>
          <p>
            Consequatur fugiat eius placeat tenetur consectetur labore. Laborum architecto animi. Inventore quod unde ea quae doloribus maxime.
          </p>

        </ts-expansion-panel>
      </div>

      <ts-drawer-footer>
        <h4>THIS IS MY FOOTER</h4>
      </ts-drawer-footer>
    </ts-drawer>

    <ts-drawer
      [mode]="mode2Control.value"
      [position]="position2Control.value"
      class="second-drawer"
      collapsedSize="0rem"
      #drawer2
    >
      <div tsVerticalSpacing>
        <p tsVerticalSpacing>
          <ts-button
            (click)="drawer2.toggle()"
          >Second Drawer</ts-button>
        </p>
        <p>
          <ts-radio-group
            label="Mode2:"
            [options]="items"
            [formControl]="mode2Control"
            [formatUILabelFn]="uiFormatter"
            [formatModelValueFn]="modelFormatter"
          >
          </ts-radio-group>
        </p>
      </div>
    </ts-drawer>

    <ts-drawer-content>
      <div style="margin: 0px 100px;">
        <div tsVerticalSpacing>
          <ts-button
            [theme]="theme"
            [isDisabled]="false"
            (clicked)="drawer.toggle()"
          >Toggle first drawer</ts-button>
        </div>

        <div tsVerticalSpacing>
          <ts-button
            [theme]="theme"
            [isDisabled]="false"
            (clicked)="drawer2.toggle()"
          >Toggle 2nd drawer</ts-button>
        </div>

        <div tsVerticalSpacing>
          This is the drawer content...
          The #1 software development tool used by agile teams.
          Visual regression testing is the ability to cross-reference snapshots of a product, highlighting pixel differences — returning fast feedback on the current state of the screen.
        </div>
        <div>
          <img src="https://via.placeholder.com/502x250?text=Visit+New+Site+Now">
          <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
            <img src="https://via.placeholder.com/250x300?text=View Side by Side">
            &nbsp;&nbsp;&nbsp;
            <img src="https://via.placeholder.com/240x300?text=This is 240x300 size">
          </div>
        </div>
      </div>
    </ts-drawer-content>
  </ts-drawer-container>




