
<ts-card>
  <p tsVerticalSpacing>Horizontal alignment test cases.</p>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-input [(ngModel)]="inputModel" label="Enter information"></ts-input>

    <ts-button>Foo</ts-button>
  </demo-row>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-selection-list
      label="Seeded multi-select"
      [allowMultiple]="true"
      [(ngModel)]="selectionListModel"
      [displayFormatter]="selectionListFormatter"
    >
      <ts-option [option]="item" [value]="item" *ngFor="let item of options">
        {{ selectionListFormatter(item) }}
      </ts-option>
    </ts-selection-list>

    <ts-button>Foo</ts-button>

    <ts-selection-list
      label="Seeded single select"
      [allowMultiple]="false"
      [(ngModel)]="selectionListModelSingle"
      [displayFormatter]="selectionListFormatter"
    >
      <ts-option [option]="item" [value]="item" *ngFor="let item of options">
        {{ selectionListFormatter(item) }}
      </ts-option>
    </ts-selection-list>

    <ts-button>Foo</ts-button>
  </demo-row>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-selection-list
      label="Empty multi-select"
      [allowMultiple]="true"
      [(ngModel)]="emptyModel1"
      [displayFormatter]="selectionListFormatter"
    >
      <ts-option [option]="item" [value]="item" *ngFor="let item of options">
        {{ selectionListFormatter(item) }}
      </ts-option>
    </ts-selection-list>

    <ts-button>Foo</ts-button>

    <ts-selection-list
      label="Empty single select"
      [allowMultiple]="false"
      [(ngModel)]="emptyModel2"
      [displayFormatter]="selectionListFormatter"
    >
      <ts-option [option]="item" [value]="item" *ngFor="let item of options">
        {{ selectionListFormatter(item) }}
      </ts-option>
    </ts-selection-list>

    <ts-button>Foo</ts-button>
  </demo-row>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-toggle>Toggle Me!</ts-toggle>

    <ts-button>Foo</ts-button>
  </demo-row>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-radio-group
      [options]="options"
      [formatUILabelFn]="uiFormatterRadio"
      [formatModelValueFn]="modelFormatterRadio"
    ></ts-radio-group>

    <ts-button>Foo</ts-button>
  </demo-row>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-select
      label="Make a selection"
      fxFlex
    >
      <ts-option
        *ngFor="let item of options"
        [value]="item.value"
      >{{ item.name }}</ts-option>
    </ts-select>

    <ts-button>Foo</ts-button>
  </demo-row>

  <demo-row>
    <ts-button>Foo</ts-button>

    <ts-checkbox>My checkbox!</ts-checkbox>

    <ts-button>Foo</ts-button>
  </demo-row>

</ts-card>
