<ts-card tsVerticalSpacing>
  <p>
    Component reference version:
  </p>

  <ts-radio-group
    [options]="items$ | async"
    (change)="selected($event)"
    #group1="tsRadioGroup"
  ></ts-radio-group>

  Selected value: {{ group1.value }}
</ts-card>


<ts-card tsVerticalSpacing>
  <p>
    Reactive form version:
  </p>

  <form [formGroup]="myForm" novalidate>
    <div>
      <ts-radio-group
        [formControl]="myForm.get('myRadioGroup')"
        [options]="items2$ | async"
      ></ts-radio-group>
    </div>

    <button (click)="submit(myForm.value)">Submit</button>
  </form>
</ts-card>
