@import '../color/color';
@import '../../../node_modules/@angular/material/theming';
@include mat-core;

$ts-default-primary: mat-palette($ts-material-primary, 500, 100, 700);
$ts-default-accent:  mat-palette($ts-material-accent, 500, 100, 700);
$ts-default-warn:    mat-palette($ts-material-warn, 500, 100, 700);
$ts-app-theme: mat-light-theme($ts-default-primary, $ts-default-accent, $ts-default-warn);
