@import '../../scss/spacing/spacing';


.ts-cohort-date-range {
  --cohort-selection-list-minWidth: 200px;
  display: block;

  .ts-selection-list {
    &.ts-cohort-date-range__select {
      display: inline-block;
      min-width: var(--cohort-selection-list-minWidth);
    }
  }
}

.ts-date-range {
  &.ts-cohort-date-range__date-range {
    display: inline-block;
    margin-right: spacing(large);
  }
}
