<ts-card tsVerticalSpacing>
  <h3 tsVerticalSpacing="small--0">
    Demo Controls
  </h3>

  <div style="max-width: 20rem;">
    <ts-select
      [(ngModel)]="example"
      [items]="visualizationOptions"
      label="Select chart"
      [formatUIFn]="uiFormatFn"
      [formatModelValueFn]="uiModelFn"
    ></ts-select>
  </div>
</ts-card>


<ng-container *ngIf="example === 'area'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Area
    </h3>

    <ts-chart
      visualization="area"
      [options]="areaOptions"
      [data]="areaData"
      exportFilename="us-ussr-nuclear-stockpiles"
      #myChart="tsChart"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'bar'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Bar
    </h3>

    <ts-chart
      visualization="bar"
      [options]="columnOptions"
      [data]="columnData"
    ></ts-chart>
  </ts-card>

  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Bar - Stacked
    </h3>

    <ts-chart
      visualization="bar"
      [options]="columnOptionsStacked"
      [data]="columnData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'column'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Column
    </h3>

    <ts-chart
      visualization="column"
      [options]="columnOptions"
      [data]="columnData"
    ></ts-chart>
  </ts-card>


  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Column - Stacked
    </h3>

    <ts-chart
      visualization="column"
      [options]="columnOptionsStacked"
      [data]="columnData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'drilldown'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Drilldown
    </h3>

    <ts-chart
      visualization="column"
      [options]="drilldownOptions"
      [data]="drilldownData"
    ></ts-chart>
  </ts-card>
</ng-container>

<ng-container *ngIf="example === 'line'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Line
    </h3>

    <ts-chart
      [options]="areaOptions"
      [data]="areaData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'events'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Events
    </h3>

    <p>Open the console to view events</p>

    <ts-chart
      visualization="area"
      [options]="areaOptions"
      [data]="areaData"
      exportFilename="us-ussr-nuclear-stockpiles"
      (afterPrint)="onAfterPrint($event)"
      (beforePrint)="onBeforePrint($event)"
      (click)="onClick($event)"
      (create)="onCreate($event)"
      (drilldown)="onDrilldown($event)"
      (drillup)="onDrillup($event)"
      (exportError)="onExportError($event)"
      (load)="onLoad($event)"
      (redraw)="onRedraw($event)"
      (render)="onRender($event)"
      (selection)="onSelection($event)"
      #myChart="tsChart"
    >
      <ts-series
        (afterAnimate)="onSeriesAfterAnimate($event)"
        (checkboxClick)="onSeriesCheckboxClick($event)"
        (click)="onSeriesClick($event)"
        (hide)="onSeriesHide($event)"
        (legendItemClick)="onSeriesLegendItemClick($event)"
        (mouseOut)="onSeriesMouseOut($event)"
        (mouseOver)="onSeriesMouseOver($event)"
        (show)="onSeriesShow($event)"
      >
        <ts-point
          (click)="onPointClick($event)"
          (mouseOut)="onPointMouseOut($event)"
          (mouseOver)="onPointMouseOver($event)"
          (remove)="onPointRemove($event)"
          (select)="onPointSelect($event)"
          (unselect)="onPointUnselect($event)"
          (update)="onPointUpdate($event)"
        ></ts-point>
      </ts-series>
    </ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'pie'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Pie
    </h3>

    <ts-chart
      visualization="pie"
      [options]="pieOptions"
      [data]="pieData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'mapUsa'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Map - USA
    </h3>

    <ts-chart
      visualization="map"
      map="usa"
      [options]="mapUsaOptions"
      [data]="mapUsaData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'mapNorthAmerica'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Map - North America
    </h3>

    <ts-chart
      visualization="map"
      map="northAmerica"
      [options]="mapNorthAmericaOptions"
      [data]="mapNorthAmericaData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'mapWorld'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Map - World
    </h3>

    <ts-chart
      visualization="map"
      map="world"
      [options]="mapWorldOptions"
      [data]="mapNorthAmericaData"
    ></ts-chart>
  </ts-card>
</ng-container>

<ng-container *ngIf="example === 'mapWorldContinents'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Map - World (continents)
    </h3>

    <ts-chart
      visualization="map"
      map="worldContinents"
      [options]="mapWorldContinentsOptions"
      [data]="mapWorldContinentsData"
    ></ts-chart>
  </ts-card>
</ng-container>

<ng-container *ngIf="example === 'mapEurope'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Map - Europe
    </h3>

    <ts-chart
      visualization="map"
      map="europe"
      [options]="mapEuropeOptions"
      [data]="mapEuropeData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'scatter'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Scatter
    </h3>

    <ts-chart
      visualization="scatter"
      [options]="scatterOptions"
      [data]="scatterData"
    ></ts-chart>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'sparklines'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing="large--2">
      Sparklines
    </h3>

    <div fxLayout="row">
      <ts-chart
        fxFlex
        visualization="line"
        sparkline="true"
        [options]="sparklineOptions"
        [data]="sparklineData1"
        (selection)="selection($event)"
      ></ts-chart>

      <ts-chart
        fxFlex
        visualization="area"
        sparkline="true"
        [options]="sparklineOptions"
        [data]="sparklineData2"
        (selection)="selection($event)"
      ></ts-chart>

      <ts-chart
        fxFlex
        visualization="column"
        sparkline="true"
        [options]="sparklineOptions"
        [data]="sparklineData3"
        (selection)="selection($event)"
      ></ts-chart>
    </div>
  </ts-card>
</ng-container>


<ng-container *ngIf="example === 'stock'">
  <ts-card tsVerticalSpacing>
    <h3 tsCardTitle tsVerticalSpacing>
      Stock
    </h3>

    <ts-chart
      visualization="column"
      addStockControls="true"
      [options]="stockOptions"
      [data]="stockData"
    ></ts-chart>
  </ts-card>
</ng-container>
