<mat-radio-group
  class="c-radio qa-radio-group"
  [(ngModel)]="value"
>
  <ng-container *ngFor="let option of options">

    <mat-radio-button
      class="c-radio__control qa-radio-control"
      [class.c-radio__control--sublabel]="formatUISubLabelFn"
      [value]="retrieveValue(option, formatModelValueFn)"
      [disabled]="option.disabled"
      [checked]="option.checked"
      [name]="retrieveValue(option, formatModelValueFn)"
      [required]="option.required"
      (change)="change.emit($event)"
      #radio="matRadioButton"
    >
      {{ retrieveValue(option, formatUILabelFn) }}

      <small
        class="c-radio__control-sublabel"
        *ngIf="formatUISubLabelFn"
      >
        {{ retrieveValue(option, formatUISubLabelFn) }}
      </small>
    </mat-radio-button>

  </ng-container>

  <ts-validation-messages
    class="qa-radio-validation-messages"
    *ngIf="formControl"
    [control]="formControl"
    validateImmediately="true"
  ></ts-validation-messages>
</mat-radio-group>
