@import './../scss/helpers/typography';
@import './../scss/helpers/spacing';
@import './../scss/helpers/color';

//
// @component
//  Radio Group
// @description
//  A component to display a group of radio buttons
//
.ts-radio-group {
  display: block;

  // Top level styles belong here
  .c-radio {
    @include typography;
    display: block;
    // set up for absolutely positioned validation messages
    position: relative;
  }
}

// <mat-radio-group>
.c-radio {
  // <mat-radio-button> Nested classes belong here
  .c-radio__control {
    display: block;
    margin-bottom: spacing(small, 2);
  }

  // <small> radio sub-label
  .c-radio__control-sublabel {
    @include typography(caption);
    color: color(utility);
    display: block;
  }
}

// Class added when sublabels are present
.c-radio--sublabel {
  // Create space for validation messages (this is usually handled by `mat-form-field`
  padding-bottom: 1.25em;

  .c-radio__control {
    .mat-radio-label {
      align-items: start;
    }
  }
}
