@import '~@terminus/ui/helpers';


.example-container {
  height: 400px;
  overflow: auto;
  @include visible-scrollbars;
}

.truncate {
  display: block;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
