<div fxLayout="row" fxLayoutAlign="space-between center">
  <div style="font-size: 12px;">
    <p>
      To get around GitHub rate limiting, we cache response data by default.
      <br>
      Clear cached data and/or disable below.
    </p>
    <label style="margin-right: 1rem;">
      Use cached data:
      <input type="checkbox" [(ngModel)]="useCachedData">
    </label>
    <button (click)="clearCachedData()">Clear cached GitHub data</button>
  </div>

  <span fxFlex></span>

  <ts-select
    label="Show/hide columns"
    [allowMultiple]="true"
    [(ngModel)]="displayedColumns"
  >
    <ts-option
      [value]="column.value"
      *ngFor="let column of allColumns"
    >{{ column.name }}</ts-option>
  </ts-select>

</div>


<div class="example-container">
  <ts-table
    [dataSource]="dataSource"
    [columns]="resizableColumns"
    (columnsChange)="columnsChange($event)"
    tsSort
    tsVerticalSpacing
    #myTable="tsTable"
  >

    <ng-container tsColumnDef="title">
      <ts-header-cell *tsHeaderCellDef sticky>
        Title
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.title }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="updated" noWrap="true" alignment="right">
      <ts-header-cell *tsHeaderCellDef ts-sort-header>
        Updated
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.updated_at | date:"shortDate" }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="comments" noWrap="true">
      <ts-header-cell *tsHeaderCellDef ts-sort-header>
        Comments
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.comments }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="assignee" noWrap="true">
      <ts-header-cell *tsHeaderCellDef ts-sort-header>
        Assignee
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.login }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="number" noWrap="true" alignment="right">
      <ts-header-cell *tsHeaderCellDef ts-sort-header>
        Number
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.number }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="labels">
      <ts-header-cell *tsHeaderCellDef>
        Labels
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        <span *ngFor="let l of item.labels">
          {{ l.name }},
        </span>
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="created" noWrap="true">
      <ts-header-cell *tsHeaderCellDef ts-sort-header>
        Created
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.created_at | date:"shortDate" }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="body">
      <ts-header-cell *tsHeaderCellDef>
        Body
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        <span class="truncate" [innerHTML]="sanitize(item.body)"></span>
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="state" noWrap="true">
      <ts-header-cell *tsHeaderCellDef>
        State
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.state }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="id" alignment="right">
      <ts-header-cell *tsHeaderCellDef>
        ID
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        {{ item.id }}
      </ts-cell>
    </ng-container>

    <ng-container tsColumnDef="html_url" noWrap="true" stickyEnd>
      <ts-header-cell *tsHeaderCellDef>
        View
      </ts-header-cell>
      <ts-cell *tsCellDef="let item">
        <a href="{{ item.html_url }}">
          <ts-icon>open_in_new</ts-icon>
        </a>
      </ts-cell>
    </ng-container>

    <ts-header-row *tsHeaderRowDef="myTable.columnNames; sticky: true"></ts-header-row>
    <ts-row *tsRowDef="let row; columns: myTable.columnNames;"></ts-row>
  </ts-table>
</div>

<div fxLayout="row" fxLayoutAlign="end start">
  <ts-paginator
    [totalRecords]="resultsLength"
    recordCountTooHighMessage="Please refine your filters."
    (pageSelect)="onPageSelect($event)"
    (recordsPerPageChange)="perPageChange($event)"
  ></ts-paginator>
</div>

<div>
  <button (click)="log()">Log column definitions</button>
</div>
