<ts-card tsVerticalSpacing fxFlex>
  <form
    novalidate
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="1rem"
  >
    <aside class="deprecated" tsVerticalSpacing>
      <h2>🚨 DEPRECATED 🚨</h2>
      <p>Please use <a [routerLink]="['/components/selection-list']">TsSelectionList</a>.</p>
    </aside>

    <h3 tsCardTitle tsVerticalSpacing="small--1">
      Autocomplete (multiple)
    </h3>

    <ts-autocomplete
      label="Autocomplete Example"
      hint="Begin typing to select.."
      [formControl]="stateCtrl"
      [allowMultiple]="true"
      [allowDuplicateSelections]="false"
      [reopenAfterSelection]="false"
      [showProgress]="fakeAsync"
      [displayFormatter]="formatter"
      (queryChange)="queryHasChanged($event)"
      (duplicateSelection)="duplicate($event)"
      tsVerticalSpacing
    >

      <ts-option
        [value]="state"
        [option]="state"
        *ngFor="let state of filteredStates | async"
      >
        {{ state.name }}
      </ts-option>

    </ts-autocomplete>

    <div>
      FormControl value: {{ stateCtrl.value | json }}
    </div>
  </form>
</ts-card>

<ts-card tsVerticalSpacing fxFlex>
  <form
    novalidate
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="1rem"
  >
    <h3 tsCardTitle tsVerticalSpacing="small--1">
      Autocomplete (single)
    </h3>

    <ts-autocomplete
      label="Autocomplete Example"
      hint="Begin typing to select.."
      [formControl]="singleStateCtrl"
      [allowMultiple]="false"
      [allowDuplicateSelections]="true"
      [reopenAfterSelection]="false"
      [showProgress]="fakeAsync"
      [displayFormatter]="formatter"
      (queryChange)="queryHasChanged($event)"
      (duplicateSelection)="duplicate($event)"
      tsVerticalSpacing
    >

      <ts-option
        [value]="state"
        [option]="state"
        *ngFor="let state of filteredStates | async"
      >
        {{ state.name }}
      </ts-option>

    </ts-autocomplete>

    <div>
      FormControl value: {{ singleStateCtrl.value | json }}
    </div>
  </form>
</ts-card>
