<div
  fxLayout="column"
>
  <p *ngIf="explanationText" class="ts-confirmation-overlay__explanation">
    {{ explanationText }}
  </p>

  <div
    fxLayout="row"
    fxLayoutAlign="center space-between"
    [fxLayoutGap]="gap"
  >
    <ts-button
      class="qa-confirmation-cancel"
      theme="warn"
      format="hollow"
      (clicked)="confirm.next(false)"
    >
      {{ cancelButtonText }}
    </ts-button>

    <ts-button
      class="qa-confirmation-confirm"
      (clicked)="confirm.next(true)"
    >
      {{ confirmationButtonText }}
    </ts-button>
  </div>
</div>
