@import './../scss/helpers/color';
@import './../scss/helpers/reset';
@import './../scss/helpers/shadows';
@import './../scss/helpers/spacing';
@import './../scss/helpers/triangle';
@import './../scss/helpers/typography';


.ts-confirmation {
  @include reset;
  display: block;
  padding: spacing();
}

// CDK overlay container
.ts-confirmation-overlay {
  $color: color(pure);
  $opaque: transparentize($color, .5);

  @include reset;
  background-color: $opaque;
}

// Wrapper for modal component
.ts-confirmation-overlay__panel {
  @include reset;
  @include elevation-element(menu);
  background-color: color(pure);

  // Create the triangle above the popup box
  &::before {
    @include triangle(top, color(pure), spacing(small, 1));
    left: 50%;
    transform: translateX(-50%);
  }
}
