
<ts-card tsVerticalSpacing fxFlex>
  <form
    novalidate
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="1rem"
  >
    <h3 tsCardTitle tsVerticalSpacing>
      SelectionList w/complex object (allowMultiple)
    </h3>

    <div tsVerticalSpacing>
      <button (click)="seedSelections(complexMultipleControl)" tabindex="-1">
        Seed selections
      </button>
    </div>

    <ts-selection-list
      label="Select states"
      hint="Begin typing to search.."
      [formControl]="complexMultipleControl"
      [allowMultiple]="true"
      [reopenAfterSelection]="true"
      [showProgress]="complexMultipleAsync"
      [displayFormatter]="formatter"
      (duplicateSelection)="duplicate($event, 'complexMultiple')"
      (selectionChange)="selectionChange($event, 'complexMultiple')"
      (queryChange)="queryHasChanged($event, 'complexMultiple')"
      (closed)="wasClosed('complexMultiple')"
      (opened)="wasOpened('complexMultiple')"
      (backdropClicked)="backdropClick('complexMultiple')"
      tsVerticalSpacing
    >
      <ts-option
        [value]="state"
        [option]="state"
        *ngFor="let state of complexMultipleResults | async"
      >
        {{ state.name }}
      </ts-option>
    </ts-selection-list>

    <div>
      FormControl value: {{ complexMultipleControl.value | json }}
    </div>
  </form>
</ts-card>


<ts-card tsVerticalSpacing fxFlex>
  <form
    novalidate
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="1rem"
  >
    <h3 tsCardTitle tsVerticalSpacing="small--1">
      SelectionList (single)
    </h3>

    <div tsVerticalSpacing>
      <button (click)="seedSelections(simpleControl, [states[0]])" tabindex="-1">
        Seed selection
      </button>
    </div>

    <ts-selection-list
      label="Select states"
      hint="Begin typing to search.."
      [formControl]="simpleControl"
      [showProgress]="simpleAsync"
      [displayFormatter]="formatter"
      (duplicateSelection)="duplicate($event, 'simple')"
      (selectionChange)="selectionChange($event, 'simple')"
      (queryChange)="queryHasChanged($event, 'simple')"
      (closed)="wasClosed('simple')"
      (opened)="wasOpened('simple')"
      (backdropClicked)="backdropClick('simple')"
      tsVerticalSpacing
    >
      <ts-option
        [value]="state"
        [option]="state"
        *ngFor="let state of simpleResults | async"
      >
        {{ state.name }}
      </ts-option>
    </ts-selection-list>

    <div>
      FormControl value: {{ simpleControl.value | json }}
    </div>
  </form>
</ts-card>
