<div
  class="c-input mat-form-field-wrapper mat-form-field-appearance-outline mat-form-field-can-float"
  [class.mat-form-field-should-float]="shouldLabelFloat"
  [class.mat-form-field-disabled]="shouldBeDisabled"
  [class.mat-form-field-autofilled]="autofilled"
  [class.mat-focused]="focused"
  [class.mat-accent]="theme === 'accent'"
  [class.mat-warn]="theme === 'warn'"
>
  <div
    class="mat-form-field-flex"
    #containerElement
    (click)="focusInput()"
  >

    <div class="mat-form-field-outline">
      <div class="mat-form-field-outline-start" [style.width.px]="outlineGapStart"></div>
      <div class="mat-form-field-outline-gap" [style.width.px]="outlineGapWidth"></div>
      <div class="mat-form-field-outline-end"></div>
    </div>
    <div class="mat-form-field-outline mat-form-field-outline-thick">
      <div class="mat-form-field-outline-start" [style.width.px]="outlineGapStart"></div>
      <div class="mat-form-field-outline-gap" [style.width.px]="outlineGapWidth"></div>
      <div class="mat-form-field-outline-end"></div>
    </div>

    <div class="mat-form-field-prefix" *ngIf="prefixIcon">
      <ts-icon class="qa-input-prefix-icon">
        {{ prefixIcon }}
      </ts-icon>
    </div>

    <div class="mat-form-field-infix">
      <input
        class="c-input__text qa-input-text ts-form-field-autofill-control"
        type="{{ type }}"
        [attr.aria-required]="requiredAttribute ? true : false"
        [attr.autocapitalize]="autocapitalize ? 'on' : 'off'"
        [attr.autocomplete]="autocomplete"
        [attr.autofocus]="isFocused ? '' : null"
        [attr.disabled]="shouldBeDisabled ? '' : null"
        [attr.name]="name"
        [attr.id]="id"
        [readonly]="readOnly"
        [required]="requiredAttribute"
        [spellcheck]="spellcheck ? 'on' : 'off'"
        tabIndex="{{ tabIndex }}"
        [(ngModel)]="value"
        (blur)="focusChanged(false)"
        (focus)="focusChanged(true)"
        (input)="onInput($event.target.value)"
        #inputElement
      >

      <span class="mat-form-field-label-wrapper">
        <!-- We add aria-owns as a workaround for an issue in JAWS & NVDA where the label isn't
             read if it comes before the control in the DOM. -->
        <label
          class="c-input__label mat-form-field-label qa-input-label"
          [attr.for]="id"
          [attr.aria-owns]="id"
          [class.mat-empty]="empty"
          [class.mat-form-field-empty]="empty"
          [class.mat-accent]="theme == 'accent'"
          [class.mat-warn]="theme == 'warn'"
          #labelElement
        >
          <span class="c-input__label-text qa-input-label-text">
            {{ label }}
          </span>

          <span
            class="mat-form-field-required-marker"
            aria-hidden="true"
            *ngIf="requiredAttribute && !hideRequiredMarker"
          >*</span>
        </label>
      </span>
    </div>

    <div class="mat-form-field-suffix" *ngIf="isClearable && !shouldBeDisabled">
      <ts-icon
        class="c-input__clear qa-input-suffix-icon"
        [ngClass]="{'c-input__clear--visible': value?.length > 0}"
        (click)="reset()"
      >clear</ts-icon>
    </div>
  </div>

  <div
    class="mat-form-field-subscript-wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    [fxLayoutGap]="flexGap"
  >
    <div *ngIf="formControl">
      <ts-validation-messages
        class="qa-input-validation-messages"
        [control]="formControl"
        [validateOnChange]="validateOnChange"
      ></ts-validation-messages>
    </div>

    <div
      class="mat-form-field-hint-wrapper"
      *ngIf="hint"
    >
      <div
        class="c-input__hint qa-input-hint"
      >{{ hint }}</div>
    </div>
  </div>
</div>
