@import './../scss/helpers/cursors';
@import './../scss/helpers/reset';
@import './../scss/helpers/spacing';
@import './../scss/helpers/typography';


//
// @component
//  Text input
// @description
//  A text input component with support for icon prefix, hints and validation messages
//
.ts-input {
  @include reset;
  display: block;
}

.c-input {
  $icon-top-adjustment: 6px;

  &.mat-form-field {
    @include typography;
    width: 100%;
  }

  .mat-input-prefix,
  .mat-input-suffix {
    position: relative;
    top: $icon-top-adjustment;
  }

  // Button to clear the value of the input
  .c-input__clear {
    @include cursor(pointer);
    opacity: 0;
    transition: opacity 200ms ease;
    will-change: opacity;

    &--visible {
      opacity: 1;
    }
  }
}
