@import 'true';
@import 'buttons';

@include describe ('button') {
  @include test ('should correctly render button-base') {
    @include assert {
      @include output {
        .button-test {
          @include button-base();
        }
      }
      @include expect {
        .button-test {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          outline: 0;
          text-align: center;
        }

        .button-test:focus {
          outline: 0;
        }
      }
    }
  }
}
