@import '../typography/typography';
@import '../spacing/spacing';
@import '../shadows/shadows';
@import '../cursors/cursors';


@mixin card(
  $allows-interaction: false
) {
  min-height: calc(100% - #{spacing(large) * 2});
  padding: spacing(large);
  vertical-align: top;

  // If the card allows interaction, give it a hover state
  @if $allows-interaction == true {
    @include elevation-element(card);
    cursor: cursor(pointer);
  } @else {
    // Otherwise include standard elevation
    @include elevation(2);
  }

  // Class added by the TsCardTitleDirective
  .c-card__title {
    @include typography(title);
  }
}
