<form [formGroup]="myForm" novalidate [fxLayout]="row" fxLayoutGap="1rem">
  <ts-card tsVerticalSpacing fxFlex>
    <h3 tsCardTitle tsVerticalSpacing>
      Single
    </h3>

    <ts-select
      [items]="simpleItems"
      label="Single select"
      [blankChoice]="blank"
      hint="Select a single option"
      [valueKey]="key"
      [formControl]="myForm.get('myChoices1')"
      (openedChange)="openStateChange($event)"
      (selectionChange)="isChanged($event)"
    ></ts-select>
  </ts-card>


  <ts-card tsVerticalSpacing fxFlex>
    <h3 tsCardTitle tsVerticalSpacing>
      Multiple
    </h3>

    <ts-select
      [items]="items"
      label="Multiple select"
      [blankChoice]="blank"
      multipleAllowed="true"
      hint="Select one or more options"
      [valueKey]="key"
      [formControl]="myForm.get('myChoices2')"
      theme="accent"
      (openedChange)="openStateChange($event)"
      (selectionChange)="isChanged($event)"
      tsVerticalSpacing
    ></ts-select>

    <button (click)="log(myForm.value)">Log form value</button>
  </ts-card>
</form>
