<div
  class="c-copy qa-copy"
  fxLayout="row"
  tabindex="1"
  (click)="selectText(content, hasSelected, disableInitialSelection)"
  (blur)="resetSelection()"
>
  <div
    #content
    class="c-copy__content qa-copy-content"
    fxFlex="auto"
    title="{{ textContent }}"
  >
    <ng-content></ng-content>
  </div>

  <ts-tooltip tooltipValue="Copy to clipboard" *ngIf="enableQuickCopy">
    <div
      class="c-copy__icon qa-copy-icon"
      (click)="copyToClipboard(textContent)"
      mat-ripple
      [matRippleColor]="rippleColor"
      fxFlex="noshrink"
    >
      <ts-icon matSuffix>
        {{ icon }}
      </ts-icon>
    </div>
  </ts-tooltip>
</div>
