@import '../../scss/color/color';
@import '../../scss/cursors/cursors';
// NOTE: Drag and drop included to add classes rather than mixins etc
@import '../../scss/drag-and-drop/drag-and-drop';
@import '../../scss/reset/reset';
@import '../../scss/spacing/spacing';
@import '../../scss/typography/typography';


$icon-width: 24px;
$icon-margin: 16px;


//
// @component
//  Menu
// @description
//  A dropdown menu component
//
.ts-menu {
  @include reset;
  display: inline-block;

  &.disabled {
    pointer-events: none;
  }

  // <ts-button> trigger to show the menu
  ts-button {
    &[data-disabled='true'] {
      @include cursor(not-allowed);
      pointer-events: none;
    }
  }

  // Top level styles should be nested here
  .c-menu {
    @include typography;
    max-height: 12rem;
  }
}


.c-menu {
  .c-menu__trigger {
    .mat-button-wrapper {
      display: inline-block;
    }

    // vertically align icon for utility menu trigger
    .c-icon {
      vertical-align: middle;
    }

    // For the dropdown caret, lessen the right side whitespace
    .c-button {
      .c-menu__caret {
        $icon-adjustment-for-menu: -.4em;

        margin-right: $icon-adjustment-for-menu;
      }
    }
  }
}


.ts-menu__panel {
  .mat-menu-content {
    // NOTE: Universal selector needed since we don't know what the first child will be
    > * {
      display: block;
    }
  }

  // Set a background so .cdk-drag items don't have a transparent background
  .ts-checkbox {
    background-color: color(pure);
  }

  // Drop area
  .cdk-drag-placeholder {
    // Match the height of the default checkbox
    min-height: 50px;
  }
}

// NOTE: When being dragged the element is not nested inside the panel
.ts-checkbox {
  // Item being dragged
  &.cdk-drag-preview {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 spacing();
  }
}


// Target a utility instance within a card
.c-card {
  .c-menu {
    &.c-menu--utility {
      position: absolute;
      right: spacing(small, 2);
      top: spacing(small, 2);
    }
  }
}
