@import './../scss/helpers/typography';
@import './../scss/helpers/spacing';


//
// @component
//  Checkbox
// @description
//  A simple checkbox component
//
.ts-checkbox {
  @include typography;
  display: block;

  // Top level styles should be nested here
  .c-checkbox {
    display: block;
  }

  // Target checkboxes inside a menu dropdown panel
  .mat-menu-panel & {
    // Match the material button line-height and spacing
    .c-checkbox {
      line-height: 35px;
      padding: 0 spacing();
    }
  }
}
