@import '../../scss/spacing/spacing';


.ts-chip-collection {
  display: block;

  &--vertical {
    display: inline-block;

    .ts-chip-collection-wrapper {
      align-items: flex-start;
      flex-direction: column;
    }

    // Needed for specificity
    .ts-chip {
      .c-chip {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.ts-chip-collection-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
