<ts-card id="top">
  <div>
    <ts-link
      [destination]="emailDestination"
      [isExternal]="true"
      tsVerticalSpacing
    >support@terminus.com</ts-link>
  </div>

  <div>
    <ts-link
      [destination]="phoneDestination"
      [isExternal]="true"
      tsVerticalSpacing
    >1800-423-4562</ts-link>
  </div>

  <div>
    <ts-link
      [destination]="localDestination"
      tsVerticalSpacing
    >Standard link.</ts-link>
  </div>

  <div>
    <ts-link
      [destination]="localDestination"
      theme="accent"
      tsVerticalSpacing
    >Accent link</ts-link>
  </div>

  <div>
    <ts-link
      [destination]="externalDestination"
      [isExternal]="external"
      theme="warn"
      tsVerticalSpacing
    >An external link using the 'warn' theme.</ts-link>
  </div>

  <div>
    <ts-link
      fragment="bottom"
      tsVerticalSpacing
    >A local fragment link to go down</ts-link>
  </div>
</ts-card>


<div style="height:400px;"></div>


<ts-card id="bottom">
  <div>
    <ts-link
      fragment="top"
      tsVerticalSpacing
    >A local fragment link to go up</ts-link>
  </div>
</ts-card>


<div style="height:400px;"></div>
