<div
  class="c-card qa-card {{ borderClass }} c-card--{{ theme }}"
  [ngClass]="{
    'c-card--interaction': supportsInteraction,
    'c-card--centered': centeredContent,
    'c-card--aspect': aspectRatioPadding,
    'c-card--disabled': isDisabled,
    'c-card--right-spacing': utilityMenuTemplate || isDisabled,
    'c-card--flat': flat
  }"
  [style.paddingTop]="aspectRatioPadding"
  [attr.id]="id"
>
  <div
    class="c-card__inner"
    mat-ripple
    [matRippleDisabled]="!supportsInteraction || isDisabled"
  >
    <ng-content></ng-content>
  </div>

  <ng-container
    *ngIf="utilityMenuTemplate"
    [ngTemplateOutlet]="utilityMenuTemplate"
  ></ng-container>

  <ts-icon
    *ngIf="isDisabled && !utilityMenuTemplate"
    class="c-card__lock qa-card-lock"
  >lock_outline</ts-icon>
</div>
