@import './../scss/helpers/color';
@import './../scss/helpers/reset';
@import './../scss/helpers/typography';


//
// @component
//  Select
// @description
//  A select input component
//
.ts-select {
  @include reset;
  display: block;

  // disabled state
  &.disabled {
    pointer-events: none;

    // Overwrite color to appear disabled
    .mat-select-value-text {
      color: color(utility);
    }
  }

  // Custom rules when nested inside the paginator component
  .c-paginator & {
    display: inline-block;
    position: relative;
    top: .3em;
    vertical-align: middle;
    width: 4rem;

    .mat-form-field {
      width: auto;
    }
  }

  // <mat-select>
  .c-select {
    // Top level styles should be nested here
    @include typography;
    display: block;
    max-width: 100%;
  }
}

// Overwrite the default max-height set by Material since the menu was spilling off outside the page
.cdk-overlay-container {
  .mat-menu-panel {
    max-height: calc(80vh - 48px);
  }
}
