<mat-form-field
  class="c-select qa-select"
  [appearance]="formFieldAppearance"
  [color]="theme"
>
  <mat-label *ngIf="label">
    {{ label }}
  </mat-label>

  <mat-select
    [(ngModel)]="value"
    [multiple]="multipleAllowed"
    [disabled]="isDisabled"
    [required]="isRequired"
    (openedChange)="checkOpenChange($event)"
    (selectionChange)="selectionChange.emit(value)"
  >
    <mat-option
      class="qa-select-option"
      *ngIf="blankChoice && !multipleAllowed"
    >
      {{ blankChoice }}
    </mat-option>

    <mat-option
      class="qa-select-option"
      *ngFor="let item of items"
      [value]="retrieveValue(item, formatModelValueFn)"
    >
      {{ retrieveValue(item, formatUIFn) }}
    </mat-option>
  </mat-select>

  <mat-hint
    class="qa-select-hint"
    align="end"
    *ngIf="hint"
  >{{ hint }}</mat-hint>

  <ts-validation-messages
    class="qa-select-validation-messages"
    *ngIf="formControl"
    [control]="formControl"
  ></ts-validation-messages>
</mat-form-field>
