<form name="myForm" novalidate>
  <ts-autocomplete
    tsVerticalSpacing
    [options]="users$ | async"
    [resultsControl]="myForm.get('selections')"
    [displayWith]="displayFn"
    [initialSelection]="null"
    [multiple]="multiSelect"
    label="Select user names"
    hint="Begin typing to search..."
    (optionSelected)="added($event)"
    (optionRemoved)="removed($event)"
    (selection)="change($event)"
    #auto="tsAutocomplete"
  ></ts-autocomplete>

  <button (click)="submit(myForm.value)">Log form value</button>
</form>
