@import './../../scss/helpers/reset';
@import './../../scss/helpers/color';
@import './../../scss/helpers/cursors';
@import './../../scss/helpers/spacing';
@import './../../scss/helpers/typography';


.ts-chip {
  --chip-fontSize: 14px;
  --chip-height: #{spacing(large)};
  --chip-padding: #{spacing(small, 2)} #{spacing(small, 1)};
  --chip-backgroundColor: #{color(utility, light)};
  --chip-backgroundColor-hover: #{color(utility)};
  --chip-borderRadius: 16px;
  --chip-color: #{color(pure, dark)};
  --chip-remove-size: #{spacing(large)};

  &:focus,
  &:hover {
    .c-chip {
      --chip-backgroundColor: var(--chip-backgroundColor-hover);
      transition: opacity 200ms cubic-bezier(.35, 0, .25, 1);
    }
  }

  &.ts-chip--selected {
    color: color(pure);
    $themes: primary accent warn;

    @each $theme in $themes {
      &.ts-chip--#{$theme} {
        .c-chip {
          background-color: color(#{$theme});
        }
      }
    }

    .c-chip__remove {
      color: color(pure);
    }
  }


  .c-chip {
    @include typography;
    align-items: center;
    background-color: var(--chip-backgroundColor);
    border-radius: var(--chip-borderRadius);
    box-sizing: border-box;
    color: var(--chip-color);
    display: inline-flex;
    font-size: var(--chip-fontSize);
    height: var(--chip-height);
    margin: 0 spacing(small, 2);
    overflow: hidden;
    padding: var(--chip-padding);
    position: relative;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    transition: background-color 200ms ease-out;

    &.c-chip--removable {
      padding-right: spacing(large);

      .c-chip__remove {
        display: block;
      }
    }

    .c-chip__remove {
      cursor: cursor(pointer);
      display: none;
      height: var(--chip-remove-size);
      opacity: .4;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) scale(.8);
      transition: opacity 200ms ease-out;
      width: var(--chip-remove-size);

      &:hover {
        opacity: .7;
      }
    }
  }
}


