@import '../../scss/spacing/spacing';


.ts-chip-collection {
  display: block;

  &--vertical {
    display: inline-block;

    .ts-chip-collection-wrapper {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.ts-chip-collection-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
