@import './../../scss/helpers/spacing';


.ts-chip-collection {
  --chip-vertical-margin: #{spacing(small, 2)};
  display: block;

  &--vertical {
    display: inline-block;

    .ts-chip-collection-wrapper {
      align-items: flex-start;
      flex-direction: column;
    }

    .ts-chip {
      margin-bottom: var(--chip-vertical-margin);
    }
  }
}

.ts-chip-collection-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
