@import '../../scss/color/color';
@import '../../scss/reset/reset';


//
// @component
//  Date Range
// @description
//  Two datepicker components to create a date range component
//
.ts-date-range {
  @include reset;
  display: block;
}

.c-date-range {
  .c-date-range__separator {
    // NOTE: Needed to offset the space created for validation messages
    $negative-adjustment: -1.2em;
    color: color(utility);
    margin-top: $negative-adjustment;
  }
}
