<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>
    Demo Controls
  </h3>

  <label>
    Show loading overlay:
    <input type="checkbox" [(ngModel)]="isLoading">
  </label>
</ts-card>


<div [tsLoadingOverlay]="isLoading" style="border:1px solid lightblue;padding:8px;">
  <p>
    Sed ducimus natus iure quas. Perferendis animi rem dolores nihil. Ut est aliquid maxime quia.
    Laborum itaque maxime eveniet eveniet minima. Nihil odit repellendus labore sed sed assumenda.
  </p>

  <p>
    Odio ut maxime architecto harum. Est voluptas cum ipsum omnis quidem.
    Molestias provident non veniam id non cumque ut. Qui atque veritatis quia voluptas.
  </p>

  <p>
    Sed ducimus natus iure quas. Perferendis animi rem dolores nihil. Ut est aliquid maxime quia.
    Laborum itaque maxime eveniet eveniet minima. Nihil odit repellendus labore sed sed assumenda.
  </p>

  <p>
    Odio ut maxime architecto harum. Est voluptas cum ipsum omnis quidem.
    Molestias provident non veniam id non cumque ut. Qui atque veritatis quia voluptas.
  </p>
</div>
