<ts-card tsVerticalSpacing>
  <h3 tsVerticalSpacing>CSV Entry</h3>

  <div>
    Footer direction:
    <ul>
      <li>
        <label>
          ltr
          <input type="radio" name="direction" value="ltr" [(ngModel)]="footerDirection">
        </label>
      </li>
      <li>
        <label>
          rtl
          <input type="radio" name="direction" value="rtl" [(ngModel)]="footerDirection">
        </label>
      </li>
    </ul>
  </div>

  <div style="max-width: 80%;" tsVerticalSpacing>
    <ts-csv-entry
      [columnValidators]="validators"
      [columnHeaders]="['foo', 'bar']"
      [footerDirection]="footerDirection"
      (blobGenerated)="file($event)"
    >
      <button>My Custom Content!</button>
    </ts-csv-entry>
  </div>

  <button (click)="customReset()">Custom table reset</button>
  <br>
  <button (click)="generateFile()">Generate file & download</button>
</ts-card>


<ts-card tsVerticalSpacing>
  <h3 tsVerticalSpacing>CSV Full Width Entry</h3>

  <div fxLayout="row">
    <ts-csv-entry
      [columnValidators]="validators"
      [columnHeaders]="['Full Width']"
      (blobGenerated)="file($event)"
      [fullWidth]="true"
      columnCount=1
    ></ts-csv-entry>
  </div>

</ts-card>
