@import 'true';
@import 'cursors';


@include describe ('cursors') {
  @include test ('should output a cursor') {
    @include assert {
      @include output {
        .foo {
          cursor: cursor(col-resize);
        }
        .bar {
          cursor: cursor(help);
        }
      }
      @include expect {
        .foo {
          cursor: col-resize;
        }
        .bar {
          cursor: help;
        }
      }
    }
  }
}
