@import '../../scss/color/color';
@import '../../scss/reset/reset';
@import '../../scss/typography/typography';
@import '../../scss/spacing/spacing';


//
// @component
//  Paginator
// @description
//  A component to show paginator controls
//
.ts-paginator {
  @include reset;
  display: inline-block;

  // Top level styles should be nested here
  .c-paginator {
    @include typography;
    display: inline-block;
  }
}

// <div> primary wrapper
.c-paginator {
  // <div> container for the message about too many records
  .c-paginator__message {
    $message-spacing: .4em 0;
    @include typography('caption');
    color: color(utility, dark);
    margin: $message-spacing;
    text-align: right;
  }

  // <div> container for current page in simple mode
  .c-paginator__current-page {
    $button-margin: 4px;
    $width-to-match-menu: 8em;
    display: inline-block;
    // Center vertically
    line-height: 2.6em;
    // Match margin added to buttons
    margin-right: $button-margin;
    margin-top: $button-margin;
    text-align: center;
    // Add a width so the layout is close to the original
    width: $width-to-match-menu;
  }

  .ts-select,
  .ts-button {
    margin-right: spacing(small, 2);
  }
}
