@import '../../scss/reset/reset';
@import '../../scss/spacing/spacing';
@import '../../scss/typography/typography';
@import '../../scss/color/color';


//
// @component
//  Icon
// @description
//  Styles for the icon component
//
.ts-icon {
  @include reset;
  display: inline-block;

  &.ts-icon--inline {
    $margin: spacing(small, 2);
    $space: calc(-#{$margin} - 2px);

    // Custom spacing values to match horizontal text rhythm
    margin-left: $space;
    margin-right: $space;
    // Match the 16px type size as close as possible
    transform: scale(.666);
  }

  // Theme support:
  &.ts-icon--primary {
    color: color(primary);

    &.ts-icon--background {
      background-color: color(primary);
      color: color(pure);
    }
  }

  &.ts-icon--accent {
    color: color(accent);

    &.ts-icon--background {
      background-color: color(accent);
      color: color(pure);
    }
  }

  &.ts-icon--warn {
    color: color(warn);

    &.ts-icon--background {
      background-color: color(warn);
      color: color(pure);
    }
  }

  &.ts-icon--background {
    $dimension-with-background: 48px;

    border-radius: 50%;
    height: $dimension-with-background;
    position: relative;
    width: $dimension-with-background;

    .c-icon {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

// Nested classes belong here
.c-icon {
  &.c-icon--inline {
    $vertical-adjustment: -1px;

    // Better align to the text baseline
    margin-bottom: $vertical-adjustment;
    vertical-align: bottom;
  }

  // Style overrides when nested inside a mat-chip
  .mat-chip & {
    &.mat-icon {
      $font-adjustment-for-chip: 18px;
      $dimension: 1em;

      // Visually match text size
      font-size: $font-adjustment-for-chip;
      height: $dimension;
      vertical-align: bottom;
      width: $dimension;
    }
  }

  // Fix poor icon alignment inside a form field prefix|suffix
  .mat-form-field-prefix &,
  .mat-form-field-suffix & {
    $horizontal-alignment-adjustment: .2em;
    $vertical-alignment-adjustment: -.06em;

    margin-right: $horizontal-alignment-adjustment;
    position: relative;
    top: $vertical-alignment-adjustment;
  }

  // Push back opacity for icons in disabled form fields
  .mat-form-field-disabled & {
    opacity: .4;
  }

  // When the icon is used in the file uploader, align to the bottom
  .c-file-upload & {
    vertical-align: bottom;
  }
}
