<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>
    Input: ngModel
  </h3>

  <div style="max-width: 20rem;" tsVerticalSpacing>
    <ts-select
      [(ngModel)]="activeMask"
      [items]="masks"
      label="Change active mask"
      hint="Select a mask to apply it to the input below."
    ></ts-select>

    <label>
      <input type="checkbox" [(ngModel)]="sanitizeValue">
      Sanitize model value
    </label>
    <br>
    <label>
      <input type="checkbox" [(ngModel)]="isClearable">
      Allow input to be cleared
    </label>
    <br>
    <label>
      <input type="checkbox" [(ngModel)]="isDisabled">
      Disabled
    </label>
    <br>
    <label>
      <input type="checkbox" [(ngModel)]="isFocused">
      Focused
    </label>
    <br>
    <label>
      <input type="checkbox" [(ngModel)]="hideRequiredMarker">
      Hide required marker
    </label>
    <br>
    <label>
      <input type="checkbox" [(ngModel)]="isReadonly">
      Readonly
    </label>
    <br>
    <label>
      <input type="checkbox" [(ngModel)]="allowDecimal">
      Allow decimal
    </label>
  </div>

  <ts-input
    [(ngModel)]="myValue"
    label="Input with ngModel"
    [maskSanitizeValue]="sanitizeValue"
    [isRequired]="true"
    [hideRequiredMarker]="hideRequiredMarker"
    [isClearable]="isClearable"
    [isDisabled]="isDisabled"
    [isFocused]="isFocused"
    [maskAllowDecimal]="allowDecimal"
    [readOnly]="isReadonly"
    [mask]="activeMask"
    [autocomplete]="'on'"
    name="static input"
    theme="accent"
    tsVerticalSpacing="small--0"
  ></ts-input>

  <strong>ngModel value: {{ myValue }}</strong>
</ts-card>


<ts-card>
  <h3 tsCardTitle tsVerticalSpacing>
    Input: Reactive Form
  </h3>

  <button (click)="updateLabel()" tsVerticalSpacing>Update Label</button>
  <button (click)="submit(myForm.value)">Submit Form</button>
  <button (click)="foo.reset()">Reset name input</button>
  <button (click)="shouldDisable = !shouldDisable">
    {{ shouldDisable ? 'Enable' : 'Disable' }} the name input
  </button>
  <br>

  <form [formGroup]="myForm" novalidate>
    <ts-input
      [formControl]="myForm.get('name')"
      [label]="label1"
      [isClearable]="clearable"
      hint="Name input with validation"
      [isDisabled]="shouldDisable"
      [spellcheck]="false"
      [prefixIcon]="icon"
      tsVerticalSpacing
      #foo="tsInput"
    ></ts-input>

    <ts-input
      [formControl]="myForm.get('email')"
      [label]="label2"
      [isClearable]="clearable"
      hint="Email input with validation"
      name="email"
      [spellcheck]="false"
      [autocomplete]="'email'"
      type="email"
      tsVerticalSpacing
    ></ts-input>

    <ts-input
      [formControl]="myForm.get('password')"
      label="Password"
      hint="Password input with validation"
      [spellcheck]="false"
      [autocomplete]="'password'"
      type="password"
      tsVerticalSpacing
    ></ts-input>

  </form>
</ts-card>
