<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>Full Gradient Logo (default)</h3>
  <ts-logo></ts-logo>
</ts-card>

<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>Full Account Hub Logo</h3>
  <ts-logo type="full-account-hub"></ts-logo>
</ts-card>


<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>Full Solid Logo</h3>
  <ts-logo type="full-solid"></ts-logo>
</ts-card>
<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>Full Solid Logo logoColor="black"</h3>
  <ts-logo type="full-solid" logoColor="black"></ts-logo>
</ts-card>

<div fxLayout="row">
  <ts-card tsVerticalSpacing fxFlex>
    <h3 tsCardTitle tsVerticalSpacing>Mark (mark-gradient)</h3>
    <ts-logo type="mark-gradient"></ts-logo>
  </ts-card>
  <ts-card tsVerticalSpacing fxFlex>
    <h3 tsCardTitle tsVerticalSpacing>Mark Solid</h3>
    <ts-logo type="mark-solid"></ts-logo>
  </ts-card>
  <ts-card tsVerticalSpacing fxFlex>
    <h3 tsCardTitle tsVerticalSpacing>Mark logoColor="gray"</h3>
    <ts-logo type="mark-solid" logoColor="gray"></ts-logo>
  </ts-card>
</div>

