<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing="small--0">Demo Controls</h3>

  <div tsVerticalSpacing>
    <ts-checkbox [(ngModel)]="delayApiResponse" tsVerticalSpacing>
      Delay API response
    </ts-checkbox>

    <div>
      <label>
        Minimum characters required:
        <input type="text" [(ngModel)]="minCharacters">
      </label>
    </div>
  </div>

  <div>
    <button (click)="updateSelections()">Dynamically update selections</button>
    <br>
    <button (click)="log(myForm.value)">Log form value</button>
  </div>
</ts-card>

<ts-card>
  <form name="myForm" novalidate>
    <ts-autocomplete
      tsVerticalSpacing
      [options]="users$ | async"
      [selectionsControl]="myForm.get('selections')"
      [displayWith]="displayFn"
      [initialSelections]="null"
      [minimumCharacters]="minCharacters"
      [showProgress]="inProgress"
      label="Single selection"
      hint="Begin typing to search..."
      theme="primary"
      (optionSelected)="added($event)"
      (optionRemoved)="removed($event)"
      (selection)="selection($event)"
      #auto="tsAutocomplete"
    ></ts-autocomplete>

    <ts-autocomplete
      tsVerticalSpacing
      [options]="users$ | async"
      [selectionsControl]="myForm.get('selectionsMultiple')"
      [displayWith]="displayFn"
      [initialSelections]="null"
      [minimumCharacters]="minCharacters"
      [multiple]="comparator"
      [showProgress]="inProgress"
      label="Multiple selections"
      hint="Begin typing to search..."
      theme="primary"
      (optionSelected)="added($event)"
      (optionRemoved)="removed($event)"
      (selection)="selection($event)"
      #auto="tsAutocomplete"
    ></ts-autocomplete>
  </form>
</ts-card>
