<ts-card tsVerticalSpacing>
  <h3 tsCardTitle tsVerticalSpacing>Demo Controls</h3>

  <div tsVerticalSpacing>
    <button (click)="toggleStart()">
      {{ myForm.get('dateRange.startDate')?.enabled ? 'Disable' : 'Enable' }}
      start date control
    </button>
  </div>

  <button (click)="updateStartDate()">Update start date</button>
  <br>
  <button (click)="printRange(myForm.value)">Print Range</button>
  <br>
  <button (click)="changeLocale()">Toggle locale to {{ locale === 'fr' ? 'en-US' : 'fr' }}</button>
</ts-card>


<ts-card>
  <form [formGroup]="myForm" novalidate>

    <ts-date-range
      [dateFormGroup]="myForm.get('dateRange')"
      [dateLocale]="locale"
      (dateRangeChange)="printRange(myForm.value)"
    ></ts-date-range>

  </form>
</ts-card>


<pre>
FORM VALUE:
{{ myForm.value | json }}
</pre>
