<div class="my-container" tsVerticalSpacing="large--2">
  <ts-file-upload
    [accept]="mimeTypes"
    (dropped)="dropped($event)"
    (droppedMultiple)="droppedMultiple($event)"
    (cleared)="file = null"
  ></ts-file-upload>
</div>

<!--
   -<div *ngIf="file">
   -  DEMO RESULT: {{ file.name }}
   -</div>
   -->


<div class="my-container" tsVerticalSpacing="large--2">
  <ng-container *ngFor="let v of files">
    <ts-file-upload
      *ngIf="fileExists(v.id)"
      [seedFile]="v.file"
      [accept]="mimeTypes"
      (dropped)="dropped($event)"
      (cleared)="clearFile(v.id)"
    ></ts-file-upload>
  </ng-container>
</div>
