<div fxLayout="row" fxLayoutAlign="space-between center" tsVerticalSpacing>
  <div style="font-size: 12px;">
    <p>
      To get around GitHub rate limiting, we cache response data by default.
      <br>
      Clear cached data and/or disable below.
    </p>

    <div>
      <label style="margin-right: 1rem;">
        Use cached data:
        <input type="checkbox" [(ngModel)]="useCachedData">
      </label>

      <button (click)="clearCachedData()">Clear cached GitHub data</button>
    </div>

    <div>
      <label>
        Table density:
        <select name="density" id="density" [(ngModel)]="density">
          <option value="comfy">Comfy</option>
          <option value="compact">Compact</option>
        </select>
      </label>
    </div>
  </div>

  <span fxFlex></span>

  <ts-menu [menuItemsTemplate]="columns" theme="accent">
    <ts-icon svgIcon="table_large_plus"></ts-icon>
    Edit Columns
  </ts-menu>

  <ng-template #columns>
    <form
      [formGroup]="columnsForm"
      cdkDropList
      cdkDropListLockAxis="y"
      (cdkDropListDropped)="columnDropped($event)"
    >
      <ng-container *ngFor="let column of allPossibleColumns">
        <!-- The menu normally closes after each interaction, so we need to stop propagation here to
        support multiple selections while open -->
        <ts-checkbox
          [formControl]="column.control"
          (click)="$event.stopPropagation()"
          theme="accent"
          cdkDrag
        >
          <span>
            {{ column.display }}
          </span>

          <!-- Stop drag interactions from affecting the checkbox status -->
          <ts-icon
            cdkDragHandle
            (click)="$event.preventDefault() && $event.stopPropagation()"
          >drag_indicator</ts-icon>

          <div *cdkDragPlaceholder></div>
        </ts-checkbox>
      </ng-container>
    </form>
  </ng-template>
</div>


<div class="example-container">
  <table
    ts-table
    [density]="density"
    [dataSource]="dataSource"
    [columns]="visibleColumns"
    (columnsChange)="columnsChange($event)"
    tsSort
    tsVerticalSpacing
    [trackBy]="trackBy"
    #myTable="tsTable"
  >

    <ng-container tsColumnDef="title" sticky>
      <th ts-header-cell *tsHeaderCellDef>Title</th>
      <td ts-cell *tsCellDef="let item">{{ item.title }}</td>
      <td ts-footer-cell *tsFooterCellDef>TEST footer content</td>
    </ng-container>

    <ng-container tsColumnDef="updated" alignment="right">
      <th ts-header-cell *tsHeaderCellDef ts-sort-header>Updated</th>
      <td ts-cell *tsCellDef="let item">{{ item.updated_at | date:"shortDate" }}</td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="comments" alignment="right">
      <th ts-header-cell *tsHeaderCellDef>Comments</th>
      <td ts-cell *tsCellDef="let item">{{ item.comments }}</td>
      <td ts-footer-cell *matfootercelldef>427</td>
    </ng-container>

    <ng-container tsColumnDef="assignee">
      <th ts-header-cell *tsHeaderCellDef ts-sort-header>Assignee</th>
      <td ts-cell *tsCellDef="let item">{{ item.login }}</td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="number" alignment="right">
      <th ts-header-cell *tsHeaderCellDef ts-sort-header>Number</th>
      <td ts-cell *tsCellDef="let item">{{ item.number }}</td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="labels">
      <th ts-header-cell *tsHeaderCellDef>Labels</th>
      <td ts-cell *tsCellDef="let item">
        <span *ngFor="let l of item.labels">{{ l.name }},</span>
      </td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="created">
      <th ts-header-cell *tsHeaderCellDef ts-sort-header>Created</th>
      <td ts-cell *tsCellDef="let item">{{ item.created_at | date:"shortDate" }}</td>
      <td ts-footer-cell *tsFooterCellDef>{{ latestCreationDate }}</td>
    </ng-container>

    <ng-container tsColumnDef="body">
      <th ts-header-cell *tsHeaderCellDef>
        Body
      </th>
      <td ts-cell *tsCellDef="let item">
        <span class="truncate" [innerHTML]="sanitize(item.body)"></span>
      </td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="state">
      <th ts-header-cell *tsHeaderCellDef>State</th>
      <td ts-cell *tsCellDef="let item">{{ item.state }}</td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="id" alignment="right">
      <th ts-header-cell *tsHeaderCellDef>ID</th>
      <td ts-cell *tsCellDef="let item">{{ item.id }}</td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <ng-container tsColumnDef="html_url">
      <th ts-header-cell *tsHeaderCellDef>View</th>
      <td ts-cell *tsCellDef="let item">
        <a href="{{ item.html_url }}">
          <ts-icon theme="accent">open_in_new</ts-icon>
        </a>
      </td>
      <td ts-footer-cell *tsFooterCellDef>-</td>
    </ng-container>

    <tr ts-header-row *tsHeaderRowDef="myTable.columnNames; sticky: true"></tr>
    <tr ts-row *tsRowDef="let row; columns: myTable.columnNames;"></tr>
    <tr ts-footer-row *tsFooterRowDef="myTable.columnNames; sticky: true"></tr>
  </table>
</div>

<div fxLayout="row" fxLayoutAlign="end start">
  <ts-paginator
    [totalRecords]="resultsLength"
    recordCountTooHighMessage="Please refine your filters."
    (pageSelect)="onPageSelect($event)"
    (recordsPerPageChange)="perPageChange($event)"
  ></ts-paginator>
</div>

<div>
  <button (click)="log()">Log column definitions</button>
</div>
