<form [formGroup]="myForm" novalidate>
  <ts-select
    [items]="items"
    label="Single select"
    [blankChoice]="blank"
    multipleAllowed="false"
    [valueKey]="key"
    [formControl]="myForm.get('myChoices1')"
    (openedChange)="openStateChange($event)"
    (selectionChange)="isChanged($event)"
  ></ts-select>

  <ts-select
    [items]="items"
    label="Multiple select"
    [blankChoice]="blank"
    multipleAllowed="true"
    [valueKey]="key"
    [formControl]="myForm.get('myChoices2')"
    (openedChange)="openStateChange($event)"
    (selectionChange)="isChanged($event)"
  ></ts-select>

  <button (click)="submit(myForm.value)">Submit</button>
</form>
