@import '../../scss/cursors/cursors';
@import '../../scss/color/color';
@import '../../scss/reset/reset';
@import '../../scss/spacing/spacing';
@import '../../scss/typography/typography';
@import '../../scss/a11y/a11y';
@import '../../scss/animation/animation';


//
// @component
//  Form Field
// @description
//  The wrapping component around form controls
//
.ts-form-field {
  --formField-outlineColor-default: #{color(utility)};
  --formField-outlineColor-default-hover: #{color(pure, dark)};
  --formField-outlineColor-theme: #{color(primary)};
  --formField-outlineColor-disabled: #{color(utility, light)};
  --formField-color-disabled: #{color(utility)};
  --formField-outline-borderRadius: 5px;
  --formField-outline-width: 1px;
  // The width of the thick outline (used for focus, hover, and error state).
  --formField-outline-width-thick: 2px;
  // The amount of overlap between the label and the outline.
  --formField-outline-labelOverlap: .25em;
  // The horizontal padding between the edge of the form field fill box and the start of the text.
  --formField-outline-sidePadding: .45em;
  // The scale of the subscript and floating label text in relation to the value text.
  --formField-outline-fontScale-subscript: .75;
  // The horizontal padding between the edge of the subscript box and the start of the subscript text.
  --formField-outline-subscript-padding: #{var(--formField-outline-sidePadding)} / #{var(--formField-outline-fontScale-subscript)};
  --formfield-lineHeight: 1.125;
  // The amount to scale the font for the floating label and subscript.
  --formField-fontScale-subscript: .75;
  // The padding above and below the infix.
  --formField-infix-padding: .4em;
  // The margin applied to the form-field-infix to reserve space for the floating label.
  --formField-infix-marginTop: calc(1em * #{var(--formfield-lineHeight)} * #{var(--formField-fontScale-subscript)});
  --formField-infix-marginTop-negative: calc(-1 * #{var(--formField-infix-marginTop)});
  // The space between the bottom of the .ts-form-field__container area and the subscript wrapper. Mocks show half of the text size, but
  // this margin is applied to an element with the subscript text font size, so we need to divide by the scale factor to make it half of the
  // original text size.
  --formField-marginTop-subscript: calc(.5em / var(--formField-fontScale-subscript));
  --formField-wrapper-paddingBottom: 1.43em;
  // The amount we offset the label from the input text in the outline appearance.
  --formField-outline-labelOffset: -.35em;

  @include reset;
  display: block;

  /////////////////////////
  // Dynamic Classes
  /////////////////////////
  &.ts-form-field--focused,
  &.ts-form-field--invalid {
    .ts-form-field__outline {
      opacity: 0;
      transition: opacity 100ms $swift-ease-out-timing-function;
    }

    .ts-form-field__outline--thick {
      opacity: 1;
    }
  }

  &:not(.ts-form-field--disabled) {
    .ts-form-field__container {
      &:hover {
        .ts-form-field__outline {
          opacity: 0;
          transition: opacity 600ms $swift-ease-out-timing-function;
        }

        .ts-form-field__outline--thick {
          opacity: 1;
        }
      }
    }
  }

  &.ts-form-field--float {
    .ts-form-field__label {
      --translate: calc(var(--formField-infix-marginTop-negative) - (var(--formField-infix-padding) + var(--formField-outline-labelOffset)));
      transform:
        translateY(var(--translate))
        scale(var(--formField-fontScale-subscript))
      ;
      width: 100% / #{var(--formField-fontScale-subscript)};
    }

    .ts-form-field__outline-gap {
      border-top-color: transparent;
    }
  }

  // Focused theme support
  &.ts-form-field--focused {
    .ts-form-field__outline--thick {
      color: var(--formField-outlineColor-theme);
    }

    &.ts-form-field--accent {
      .ts-form-field__outline--thick {
        --formField-outlineColor-theme: #{color(accent)};
      }
    }

    &.ts-form-field--warn {
      .ts-form-field__outline--thick {
        --formField-outlineColor-theme: #{color(warn)};
      }
    }
  }

  // NOTE: Class is repeated so that rule is specific enough to override focused accent color case.
  &.ts-form-field--invalid {
    &.ts-form-field--invalid {
      .ts-form-field__outline--thick {
        --formField-outlineColor-theme: #{color(warn)};
      }
    }
  }

  &.ts-form-field--disabled {
    .ts-form-field__label {
      color: var(--formField-outlineColor-disabled);
    }

    .c-input__text,
    .ts-selection-list__input {
      color: var(--formField-color-disabled);
    }

    .ts-form-field__outline {
      color: var(--formField-outlineColor-disabled);
    }

    .ts-form-field__container {
      cursor: cursor(not-allowed);
    }
  }


  /////////////////////////
  // START: Outline
  /////////////////////////

  // <div> wrapper for outline border divs
  .ts-form-field__outline {
    bottom: 0;
    color: var(--formField-outlineColor-default);
    display: flex;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: var(--formField-outline-labelOverlap);
  }

  .ts-form-field__outline-start,
  .ts-form-field__outline-end {
    border: var(--formField-outline-width) solid currentColor;
    min-width: var(--formField-outline-borderRadius);
  }

  .ts-form-field__outline-start {
    border-radius: var(--formField-outline-borderRadius) 0 0 var(--formField-outline-borderRadius);
    border-right-style: none;
  }

  .ts-form-field__outline-end {
    border-left-style: none;
    border-radius: 0 var(--formField-outline-borderRadius) var(--formField-outline-borderRadius) 0;
    flex-grow: 1;
  }

  .ts-form-field__outline-gap {
    border: var(--formField-outline-width) solid currentColor;
    border-left-style: none;
    // HACK: For Chrome's treatment of borders with non-integer (scaled) widths refer to https://github.com/angular/material2/issues/10710
    border-radius: .000001px;
    border-right-style: none;
  }

  .ts-form-field__outline--thick {
    color: var(--formField-outlineColor-default-hover);
    opacity: 0;

    .ts-form-field__outline-start,
    .ts-form-field__outline-end,
    .ts-form-field__outline-gap {
      --formField-outline-width: var(--formField-outline-width-thick);
      transition: border-color 300ms $swift-ease-out-timing-function;
    }
  }

  /////////////////////////
  // END: Outline
  /////////////////////////


  /////////////////////////
  // START: Wrappers
  /////////////////////////

  // We use a flex layout to baseline align the prefix and suffix elements.
  // The underline is outside of it so it can cover all of the elements under this flex container.
  .ts-form-field__container {
    align-items: baseline;
    box-sizing: border-box;
    display: inline-flex;
    margin-top: calc(var(--formField-outline-labelOverlap) * -1);
    padding: 0 var(--formField-outline-sidePadding);
    position: relative;
    width: 100%;

    // When used with a TsInputComponent instance, use the text cursor when hovering the container
    .ts-input &,
    .ts-select--autocomplete & {
      cursor: cursor(text);
    }
  }

  .ts-form-field__infix {
    // In high contrast mode IE/Edge will render all of the borders, even if they're transparent. Since we can't remove the border
    // altogether or replace it with a margin, because it'll throw off the baseline, and we can't use a base64-encoded 1x1 transparent image
    // because of CSP, we work around it by setting a linear gradient that goes from `transparent` to `transparent`.
    @include cdk-high-contrast {
      border-image: linear-gradient(transparent, transparent);
    }
    // Throws off the baseline if we do it as a real margin, so we do it as a border instead.
    border-top: var(--formField-infix-marginTop) solid transparent;
    display: block;
    flex: auto;
    // Overwrite standard typography style
    line-height: 19px;
    min-width: 0;
    padding: calc(#{var(--formField-infix-padding)} / 2) 0 var(--formField-infix-padding);
    position: relative;
  }

  .ts-form-field__prefix,
  .ts-form-field__suffix {
    flex: none;
    position: relative;
    top: var(--formField-outline-labelOverlap);
    white-space: nowrap;
  }

  .ts-form-field__prefix {
    $space-between-icon-and-text: .2em;
    margin-right: $space-between-icon-and-text;
  }

  // Scale down icons in the label and hint to be the same size as the text.
  .ts-form-field__subscript-wrapper,
  .ts-form-field__label-wrapper {
    .ts-icon {
      font-size: inherit;
      height: 1em;
      vertical-align: baseline;
      width: 1em;
    }
  }

  // Used to hide the label overflow on IE, since IE doesn't take transform into account when
  // determining overflow.
  .ts-form-field__label-wrapper {
    box-sizing: content-box;
    height: 100%;
    left: 0;
    padding-top: var(--formField-infix-marginTop);
    // We shouldn't catch mouse events (let them through).
    pointer-events: none;
    position: absolute;
    top: var(--formField-infix-marginTop-negative);
    width: 100%;
  }

  // Wrapper for the hints and error messages.
  .ts-form-field__subscript-wrapper {
    box-sizing: border-box;
    // Prevent multi-line errors from overlapping the control
    overflow: hidden;
    padding: 0 var(--formField-outline-subscript-padding);
    position: absolute;
    width: 100%;
  }

  // Clears the floats on the hints. This is necessary for the hint animation to work.
  .ts-form-field__hint-wrapper {
    @include typography(hint);
    display: flex;
  }

  /////////////////////////
  // END: Wrappers
  /////////////////////////


  // The label itself. This is invisible unless it is. The logic to show it is basically `empty || (float && (!empty || focused))`. Float is
  // dependent on the `floatingPlaceholder` property.
  .ts-form-field__label {
    font: inherit;
    left: 0;
    margin-top: var(--formField-outline-labelOffset);
    // Put ellipsis text overflow.
    overflow: hidden;
    // We shouldn't catch mouse events (let them through).
    pointer-events: none;
    // The label is after the form field control, but needs to be aligned top-left of the infix <div>.
    position: absolute;
    text-overflow: ellipsis;
    top: calc(var(--formField-infix-marginTop) + var(--formField-infix-padding));

    transform-origin: 0 0;
    transition:
      color $swift-ease-out-duration $swift-ease-out-timing-function,
      transform $swift-ease-out-duration $swift-ease-out-timing-function,
      width $swift-ease-out-duration $swift-ease-out-timing-function;
    white-space: nowrap;
    width: 100%;

    // Disable the label animation when the control is not empty (this prevents label animating up when the value is set programmatically).
    &:not(.ts-form-field__label--empty) {
      transition: none;
    }

    &.ts-form-field__label--empty {
      display: block;
    }
  }

  .ts-form-field--float {
    .ts-form-field__label {
      display: block;
    }
  }

  .ts-form-field__wrapper {
    // We need to add margin to the top to reserve space in the layout for the label which sticks out of the top. In order to ensure that
    // the outline appearance aligns nicely with other form-field appearances when center-aligned, we also need to add the same amount of
    // margin to the bottom.
    $wrapper-margin: var(--formField-outline-labelOverlap) 0;
    margin: $wrapper-margin;
    position: relative;
    // To avoid problems with text-align.
    text-align: left;
    // Add padding to the bottom only if there is validation needed.
    &.ts-form-field--with-validation {
      padding-bottom: var(--formField-wrapper-paddingBottom);
    }
  }
}


// Target an input datepicker within a form field
.ts-input--datepicker {
  // The width we set for datepicker
  $date-picker-width: 200px;
  width: $date-picker-width;
}
