<ts-card tsVerticalSpacing>

  <h2>AbbreviateNumber</h2>

<pre tsVerticalSpacing>
Value:
12345
</pre>

  <div>
    Abbreviate with 2 decimal: <b>{{ 12345 | tsAbbreviateNumber:2 }}</b>
    <br>
    Abbreviate with 1 decimal as default: <b>{{ 12345 | tsAbbreviateNumber }}</b>
  </div>

</ts-card>

<ts-card tsVerticalSpacing>

  <h2>Date</h2>

<pre tsVerticalSpacing>
Date:
{{ date }}

Date String:
{{ dateString }}
</pre>

  <div tsVerticalSpacing>
    <strong>
      short (default)
    </strong>
    {{ date | tsDate }}
  </div>

  <div tsVerticalSpacing>
    <strong>
      medium (using date string)
    </strong>
    {{ dateString | tsDate:'medium' }}
  </div>

  <div tsVerticalSpacing>
    <strong>
      extended
    </strong>
    {{ date | tsDate:'extended' }}
  </div>

  <div tsVerticalSpacing>
    <strong>
      timestamp
    </strong>
    {{ date | tsDate:'timestamp' }}
  </div>

</ts-card>


<ts-card tsVerticalSpacing>

  <h2>RoundNumber</h2>

<pre tsVerticalSpacing>
Value:
3456.3456
</pre>

  <div>
    Round to 2: <b>{{ 3456.3456 | tsRoundNumber:2 }}</b>
    <br>
    Round to 0: <b>{{ 3456.3456 | tsRoundNumber }}</b>
    <br>
    Round to -2: <b>{{ 3456.3456 | tsRoundNumber:-2 }}</b>
  </div>

</ts-card>


<ts-card tsVerticalSpacing>

  <h2>SentenceCase</h2>

<pre tsVerticalSpacing>
String:
'HERE IS MY STRING'
</pre>

  <div>
    {{ 'HERE IS MY STRING' | tsSentenceCase }}
  </div>

</ts-card>


<ts-card tsVerticalSpacing>

  <h2>TimeAgo</h2>

<pre tsVerticalSpacing>
Date:
{{ date }}

Old date:
{{ oldDate }}
</pre>

  <div tsVerticalSpacing>
    {{ date | tsTimeAgo:oldDate }} since I did any work
  </div>

</ts-card>


<ts-card tsVerticalSpacing>

  <h2>TitleCase</h2>

<pre tsVerticalSpacing>
String 1: Careful man, there’s a beverage here!
String 2: THAT RUG REALLY TIED THE ROOM TOGETHER.
</pre>

  <div>
    {{ 'Careful man, there’s a beverage here!' | tsTitleCase }}
    <br>
    {{ 'THAT RUG REALLY TIED THE ROOM TOGETHER.' | tsTitleCase }}
  </div>

</ts-card>


<ts-card tsVerticalSpacing>

  <h2>TruncateAt</h2>

<pre tsVerticalSpacing>
  'Here is my string' | tsTruncateAt:7
  'Here is my string' | tsTruncateAt:8:'middle'
  'Here is my string' | tsTruncateAt:6:'start'
</pre>

  <div>
    {{ 'Here is my string' | tsTruncateAt:7 }}
    <br>
    {{ 'Here is my string' | tsTruncateAt:8:'middle' }}
    <br>
    {{ 'Here is my string' | tsTruncateAt:6:'start' }}
  </div>

</ts-card>


<ts-card tsVerticalSpacing>

  <h2>Usage in Class</h2>

  (See the associated .ts file)

<pre tsVerticalSpacing>
String: {{ myString }}
</pre>

  <div>
    {{ myStringTransformed }}
  </div>

</ts-card>
