@import '../../scss/animation/animation';
@import '../../scss/color/color';
@import '../../scss/layout/layout';
@import '../../scss/reset/reset';
@import '../../scss/spacing/spacing';
@import '../../scss/typography/typography';


.ts-autocomplete__input-wrap {
  &--hidden {
    @include visually-hidden;
  }

  // NOTE: Currently hardcoded the text size since typography doesn't support 14px at this moment.
  .ts-chip {
    $chip-font-size: 14px;
    font-size: $chip-font-size;
  }
}

.ts-autocomplete__input {
  background: transparent;
  border: none;
  color: currentColor;
  display: inline-block;
  flex: 1 0 10px;
  font: inherit;
  max-width: 100%;
  outline: none;
  padding: 0;
  // User agent stylesheets set the text-align of inputs explicitly to "start". Those can be
  // easily overwritten by targeting the input element using a simple CSS selector, but since
  // the text-align will be applied most of the time on the `ts-form-field` to also align the
  // placeholder, the alignment should be inherited here.
  text-align: inherit;
  // Needed to make last line of the textarea line up with the baseline.
  vertical-align: bottom;
  width: 100%;

  // Undo the red box-shadow glow added by Firefox on invalid inputs.
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-ui-invalid
  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

.cdk-overlay-container {
  .ts-autocomplete__backdrop {
    background: transparent;
  }
}
