@import './../scss/helpers/card';
@import './../scss/helpers/color';
@import './../scss/helpers/layout';
@import './../scss/helpers/reset';
@import './../scss/helpers/spacing';
@import './../scss/helpers/typography';


//
// @component
//  Card
// @description
//  A simple card component
//
.ts-card {
  @include reset;
  display: flex;
  flex-flow: row nowrap;

  // Top level styles should be nested here
  .c-card {
    @include typography;
    background-color: color(pure);
    // Set up for possible utility nav
    position: relative;
    width: 100%;

    &:not(.c-card--interaction),
    &:not(.c-card--aspect) {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.c-card {
  // <div> Needed to hold `mat-ripple` directive (directive targets parent element by default
  .c-card__inner {
    @include card;
    // Needed to contain the ripple effect
    position: relative;
    width: 100%;
  }
}

.c-card--interaction {
  &:not(.c-card--disabled) {
    .c-card__inner {
      @include card($allows-interaction: true);
    }
  }
}

.c-card--centered {
  .c-card__inner {
    @include center-content;
  }
}

.c-card--aspect {
  $padding: spacing(large) * 2;

  .c-card__inner {
    @include take-space;
  }
}

.c-card--disabled {
  .c-card__inner {
    opacity: .5;
  }

  // Class added to menu container when the card is disabled
  .c-menu {
    opacity: .3;
    pointer-events: none;
  }

  // Lock icon
  .c-card__lock {
    color: color(utility);
    position: absolute;
    right: spacing(large);
    // Magic number adjustment to align with title
    top: calc(#{spacing(large)} - 2px);
    transform: scale(.7);
  }
}

// Class added when padding needed on the right for icon or utility menu
.c-card--right-spacing {
  .c-card__inner {
    $padding: spacing(large) + spacing(large, 4);
    padding-right: spacing(large, 4);
  }
}
